* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  background: #fafafa;
  font-weight: 500;
  font-family: "Montserrat";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1440px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*---------HEADER----------------------------------------------------------------------------------------------------------------------*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header_container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header_container {
    min-height: 70px;
  }
}

.header_menu {
  margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
  .header_menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header_menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 479px) {
  .header_menu {
    margin: 0px 0px 0px 20px;
  }
}

.header_logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}

.menu {
  padding: 5px 0;
}

.menu_list {
  display: flex;
  flex-wrap: wrap;
}

.menu_item {
}

.menu_item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu_link {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
}

.menu_link:hover {
  text-decoration: underline;
}

@media (max-width: 479px) {
  .menu_link {
    font-size: 18px;
  }
}

/*---------PAGE----------------------------------------------------------------------------------------------------------------------*/

.page {
  flex: 1 1 auto;
}

.page_mainblock {
}

.page_services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}

.page_advantages {
}

.page_practise {
}

.page__whoweare {
}

.page__clients:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.page__subscribe {
}

.page__getintouch {
}

.page__contactus {
}

/*---------HEADER-BLOCK----------------------------------------------------------------------------------------------------------------------*/

.header-block {
  text-align: center;
  letter-spacing: 0.2;
}

.header-block_title {
  font-size: 40px;
  line-height: 142%;
  font-weight: 700;
}

.header-block_title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block_subtitle {
  font-size: 14px;
  color: #737373;
  line-height: 142%;
}


/*---------FOOTER----------------------------------------------------------------------------------------------------------------------*/

.footer {
}

/*---------MAIN_BLOCK----------------------------------------------------------------------------------------------------------------------*/

.mainblock {
  position: relative;
}

.mainblock_container {
}

.mainblock_body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}

@media (max-width: 992px) {
  .mainblock_body {
    padding: 120px 0px 191px 0px;
  }
}

.mainblock_body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.mainblock_title {
  letter-spacing: 0.2px;
  font-size: 58px;
  color: #252b42;
  line-height: calc(80 / 58 * 100%);
  font-weight: 800;
}

@media (max-width: 479px) {
  .mainblock_title {
    font-size: 42px;
  }
}

.mainblock_text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
}

@media (max-width: 479px) {
  .mainblock_text {
    color: #575656;
  }
}

.mainblock_buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0px;
}

.mainblock_button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.2px;
  padding: 5px 36px;
  margin: 10px 0;

  transition: all 0.2s ease 0s;
}

@media (max-width: 479px) {
  .mainblock_button {
    flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .mainblock_button:not(:last-child) {
    margin-right: 10px;
  }
}

.mainblock_button_orange {
  background: #ff7b47;
  color: white;
}

.mainblock_button_orange:hover {
  background-color: #fff;
  color: #ff7b47;
}

.mainblock_button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.mainblock_button_border:hover {
  color: #fff;
  background-color: #0d5c63;
}

.mainblock_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .mainblock_image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .mainblock_image {
    opacity: 0.5;
  }
}

/*---------ICON-SERVICE----------------------------------------------------------------------------------------------------------------------*/

.services {
}

.services_container {
}

.services_body {
}

@media (min-width: 670px) {
  .services_body {
    flex-wrap: wrap;
    display: flex;
    margin: 0px -15px -30px;
  }
}

.services_column {
  flex: 0 1 33.333%;
}

@media (min-width: 670px) {
  .services_column {
    padding: 0px 15px;
  }
}

@media (max-width: 992px) {
  .services_column {
    flex: 0 1 50%;
    margin: 0px 0px 30px 0px;
  }
}

.services_item {
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
}

.item-service {
}

.item-service_green {
  background-color: #0d5c63;
}

.item-service_green .item-service_title {
  color: #fff;
}

.item-service_green .item-service_text {
  color: #fff;
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service_icon {
}

.item-service_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1;
}

.item-service_text {
  line-height: 142%;
  color: #737373;
}

/*---------ADVANTAGES----------------------------------------------------------------------------------------------------------------------*/

.advantages {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 30px 0;
  }
}

.advantages_container {
}

.advantages_header {
  margin: 0px 0px 50px 0px;
}

.advantages_body {
  display: flex;
  margin: 0px -15px -30px;
  flex-wrap: wrap;
}

.advantages_column {
  margin: 0px 0px 30px 0px;
  padding: 0px 15px;
  flex: 0 1 25%;
}

@media (max-width: 1020px) {
  .advantages_column {
    flex: 0 1 50%;
  }
}

@media (max-width: 669px) {
  .advantages_column {
    flex: 0 1 100%;
  }
}

.advantages_item {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  font-weight: 700;
}

.advantages_item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.advantages_icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages_value {
  font-size: 40px;
  line-height: 142%;
}

.advantages_text {
  letter-spacing: 0.1;
  color: #737373;
  font-size: 16px;
  line-height: 150%;
}

/*---------PRACTISE----------------------------------------------------------------------------------------------------------------------*/

.practise {
  padding: 125px 0px 80px 0px;
}

@media (max-width: 993px) {
  .practise {
    padding: 40px 0px 80px 0px;
  }
}

@media (max-width: 767px) {
  .practise {
    padding: 40px 0px 40px 0px;
  }
}

.practise_container {
}

.practise_header {
  margin: 0px 0px 45px 0px;
}

.practise_body {
  margin: 0 -15px -25px;
  display: flex;
  flex-wrap: wrap;
}

.practise_column {
  margin: 0px 0px 25px 0px;
  padding: 0 15px;
  flex: 0 1 25%;
}

@media (max-width: 1040px) {
  .practise_column {
    flex: 0 1 50%;
  }
}

@media (max-width: 610px) {
  .practise_column {
    flex: 0 1 100%;
  }
}

.practise_item {
}
.item-practise {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-practise_content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practise_link {
  color: inherit;
  display: inline-block;
}

.item-practise_link:hover {
  text-decoration: underline;
}

.item-practise_link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-practise_title {
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}

.item-practise_text {
  color: #737373;
  line-height: 142%;
}

.item-practise_image {
  display: block;
  padding: 0px 0px 69% 0px;
}

/*---------WHOWEARE----------------------------------------------------------------------------------------------------------------------*/

.whoweare {
  padding: 80px 0px 130px 0px;
  background-color: #fff;
}

.whoweare__container {
}

.whoweare_header {
  margin: 0px 0px 100px 0px;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 35% 0px;
}

.whoweare__video:not(:last-child) {
  margin: 50px 0px 0px 0px;
}


.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 35px 0px 0px 121px;
}

.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0,2;
}

.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  color: #737373;
  line-height: 142%;
}

.whoweare__text:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

.whoweare__items {
}
.whoweare__item {
}

.whoweare__item:not(:last-child) {
  padding: 0px 0px 30px 0px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
  color: #737373;
  line-height: 142%;
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }
  .whoweare_header {
    margin: 0px 0px 30px 0px;
  }
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }

  .whoweare__title {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0px 50px 0px;
  }
  .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}

/*---------CLIENTS----------------------------------------------------------------------------------------------------------------------*/

.clients {
  padding: 50px 0;
}

@media (max-width: 767px) {
.clients {
  padding: 30px 0;
}
}

.clients__container {
}

.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

/*---------SUBSCRIBE----------------------------------------------------------------------------------------------------------------------*/


.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}

.subscribe::before {
  content: '#';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57%;
  background: #252b42;
}

.subscribe__container {
}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  align-items: center;
  background-color: #17213C;
  border-radius: 2px;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}


.subscribe__title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}

@media (max-width: 810px) {
  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }
  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 25px;
  }
}

@media (min-width: 810px) {
  .subscribe__title{
    max-width: 266px;
  }
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}


.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  color: #737373;
  background: #f9f9f9;
  min-height: 58px;
  border-right: 0;
  padding: 0px 20px;
  border: 1px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  min-height: 58px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0px 22px;
  cursor: pointer;

  transition: all 0.1s ease 0s;
}

.subscribe__button:hover {
  background-color: #d8673b;
}

@media (max-width: 810px) {
  .subscribe__button {
    padding: 0px 15px;
  }
  .subscribe__input {
    padding: 0px 15px;
  }
}

/*---------GETINTOUCH----------------------------------------------------------------------------------------------------------------------*/

.getintouch {
  background-color: #f6f6f6;
  padding: 80px 0px 135px 0px;
}

.getintouch__container {
}

.getintouch_header {
  margin: 0px 0px 80px 0px;
}

.getintouch__items {
  margin: 0px -15px;
}

@media (min-width:992px) {
  .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center;
  }
}

@media (max-width:992px) {
  .getintouch_header {
    margin: 50px 0px;
  }
}

@media (max-width:767px) {
  .getintouch_header {
    margin: 0px 0px 30px 0px;
  }
}

.getintouch__item {
  flex: 0 1 33.333%;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 15px;
}

.item-getintouch_active {
  padding: 80px 15px;
  background-color: #252B42;
  color: #fff;
}

.item-getintouch_active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}

.item-getintouch > *:not(:last-child) {
  margin: 15px 0px;
}

.item-getintouch__icon {
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  color: #252B42;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.item-getintouch__button {
  color: #ff7b47;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  font-weight: 600;
  min-height: 44px;
  line-height: 142%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;

  transition: all 0.3s ease 0s;
}

.item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
}

/*---------CONTACT US----------------------------------------------------------------------------------------------------------------------*/

.contactus {
  background-color: #fff;
  padding: 40px 0px;
}

.contactus__container {
}

.contactus__body {
}

.contactus__content {
  padding: 0px 0px 20px 0px;
}

@media (min-width:768px) {
  .contactus__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contactus__content {
    padding: 0px 20px 0px 0px;
  }
}


.contactus__title {
  color: #252B42;
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.contactus__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.contactus__text {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.contactus__text:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.contactus__button {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #fff;
  background-color: #ff7b47;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  min-height: 58px;
  padding: 5px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.2s ease 0s;
}

.contactus__button:hover {
  background-color: #e77041;
}

/*---------FOOTER----------------------------------------------------------------------------------------------------------------------*/

.footer {
}

.footer__top {
  background-color: #17213C;
  padding: 30px 0px;
}

.footer__main {
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.footer__column {
  padding: 20px 15px;
  flex: 0 1 16.6667%;
  min-width: 170px;
}

@media (max-width: 992px) {
  .footer__column {
    flex: 0 1 25%;
  }
}

@media (max-width: 720px) {
  .footer__column {
    flex: 0 1 50%;
  }
}


.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  margin: 0px 0px 20px 0px;
}



.footer__menu {
}

.menu-footer {
}

.menu-footer__list {
}

.menu-footer__item {
}

.menu-footer__item:not(:last-child) {
  margin: 10px 0px;
}

.menu-footer__link {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.menu-footer__link:hover {
  text-decoration: underline;
}


.footer__contacts {
}

.contacts-footer {
  display: flex;
  flex-direction: column;

}

.contacts-footer__item {
  color: #fff;
  padding: 0px 0px 0px 34px;
  line-height: 142%;
  display: flex;
  align-items: center;
  min-height: 30px;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

.contacts-footer__item_phone {
  background: url(/img/footer/1.svg) 0 0 no-repeat;
}

.contacts-footer__item_map {
  background: url(/img/footer/2.svg) 0 0 no-repeat;
}

.contacts-footer__item_email {
  background: url(/img/footer/3.svg) 0 0 no-repeat;
}



.footer__bottom {
  padding: 25px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.footer__social {
}

.social {
  display: flex;
  align-items: center;
}

.social__item {
}

.social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}


@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__copy {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }
}